//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 01 11:52:25 2021
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "T4" LEVEL 1;
COMP "A<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "EN" LOCATE = SITE "T3" LEVEL 1;
COMP "B<0>" LOCATE = SITE "V4" LEVEL 1;
COMP "B<1>" LOCATE = SITE "V3" LEVEL 1;
COMP "C<0>" LOCATE = SITE "Y4" LEVEL 1;
COMP "C<1>" LOCATE = SITE "W4" LEVEL 1;
COMP "D<0>" LOCATE = SITE "W7" LEVEL 1;
COMP "D<1>" LOCATE = SITE "Y6" LEVEL 1;
COMP "S<0>" LOCATE = SITE "T1" LEVEL 1;
COMP "S<1>" LOCATE = SITE "Y7" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "P2" LEVEL 1;
COMP "Y<1>" LOCATE = SITE "R1" LEVEL 1;
SCHEMATIC END;

